@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

 html {
 	font-family: 'Nunito', sans-serif;
 	font-size: 1em;
 	font-weight: 400;
 }

 .logo {
   position: absolute;
   width: 15%;
   margin-top: -4%;
   padding-left: 5%;
 }

.nav {
   background-color: #B0B3B3;
   padding-top: 6%;
 }

 .nav ul {
	 list-style-type: none;
	 padding-right: 5%;
 }

.nav ul li {

	display: inline-block;
}

.banner h1 {
	 font-size: 6em;
	 padding-top: 20%;
 }

 .photo {
 	padding-top: 20%;
	margin-left: 24%;
 	width: 50%;
 }

figcaption {
	margin-left: 8%;
}

p {
	padding-left: 8%;
}

.portfolio {
	padding: 8%;
}

 .icon {
   display: inline-block;
   width: 35px;
	 margin-left: 11%;
 }

 footer {
	 background-color: #B0B3B3;
   padding-top: 5%;
 }

 footer p {
	 text-align: center;
 }

 @media only screen and (min-width: 375px) {

	 .nav ul li {

		 padding: 5%;
	 }

	 .banner {
		 font-size: 10em;
	 }
}

@media only screen and (min-width: 425px) {

	.nav ul {
		margin-left: 10%;
	}

	.banner h1 {
		margin-left: 10%;
	}

	p {
		padding-left: 4%
	}

	figcaption {
		margin-left: 18%;
	}

	.icon {
		margin-left: 13%;
	}

@media only screen and (min-width: 768px) {

	.nav {

		margin-left: 22%;
	}
}
